.flashOverlay {
  position: fixed;
  /* Extend to edges including safe areas */
  top: calc(0px - constant(safe-area-inset-top));
  top: calc(0px - env(safe-area-inset-top));
  left: calc(0px - constant(safe-area-inset-left));
  left: calc(0px - env(safe-area-inset-left));
  right: calc(0px - constant(safe-area-inset-right));
  right: calc(0px - env(safe-area-inset-right));
  bottom: calc(0px - constant(safe-area-inset-bottom));
  bottom: calc(0px - env(safe-area-inset-bottom));
  pointer-events: none;
  z-index: 1000;
  will-change: opacity, transform;
}

